.line-arrow {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    /*set the size for arrow*/
    width: 4em;
    height: 4em;
    margin-top: -2em;
    top: 50%;
}

.line-arrow.left {
    border-top: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    transform: rotate(-54deg) skew(-20deg);
    left: 20px;
}

.line-arrow.right {
    border-top: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    transform: rotate(54deg) skew(20deg);
    right: 20px;
}

.line-arrow:active,
.line-arrow.active {
    border-width: 2px;
}

.square {
    top: auto;
    bottom: 10px;
}

.square.left {
    transform: rotate(-45deg);
}

.square.right {
    transform: rotate(45deg);
}

a {
    cursor: pointer;
}

.c-pointer {
    cursor: pointer !important;
}

.body-icon-box-md {
    height: 30px;
    width: 30px;
    padding: 0 !important;
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
    line-height: 28px !important;
    text-align: center;
    border-radius: 50%;
    margin: 0px 5px;
}

.page-header-title.mc {
    margin: -20px -5px 5px -5px;
    padding: 10px 15px 5px 20px;
}

.page-content-wrapper.mc {
    margin-top: 0px;
}

.page-header-title>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 90px;
    right: 10px;
    border-radius: 2px;
}

.page-header-title>.head-btn {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 75px;
    right: 10px;
    border-radius: 2px;
}

.body-icon-box-md {
    font-size: 21px !important;
    font-weight: bold;
}

.bg-blue {
    background: blue;
}

.show-error-message {
    width: 80%;
    text-align: center;
    margin: auto;
    color: #aaa;
    top: 100px;
    position: absolute;
    left: 260px;
}

.show-error-message>h3 {
    color: #aaa;
}

.diverDiv>div {
    width: 49%;
}

.diverDiv .fl-felt {
    float: left;
}

.diverDiv .fl-right {
    float: right;
}

.box-shado-syn-10 {
    box-shadow: 0 0 10px #497880;
}

.has_sub li>a.active {
    background-color: #ace6ec !important;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0px 0 0 0;
    border-top-width: 0;
    width: 280px
}

.navbar-nav>.user-menu>.dropdown-menu,
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: #04a2b3
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2)
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    color: #fff;
    /*color: rgba(255, 255, 255, 0.8);*/
    font-size: 17px;
    margin-top: 10px
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
    display: block;
    font-size: 12px
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    content: " ";
    display: table
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    clear: both
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
    color: #444 !important
}

@media (max-width:991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-body a {
        background: #fff !important;
        color: #444 !important
    }
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 10px
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    content: " ";
    display: table
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    clear: both
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #666666
}

@media (max-width:991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
        background-color: #f9f9f9
    }
}

.navbar-nav>.notifications-menu>.dropdown-menu,
.navbar-nav>.messages-menu>.dropdown-menu,
.navbar-nav>.tasks-menu>.dropdown-menu {
    width: 280px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%
}

.navbar-nav>.notifications-menu>.dropdown-menu>li,
.navbar-nav>.messages-menu>.dropdown-menu>li,
.navbar-nav>.tasks-menu>.dropdown-menu>li {
    position: relative
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.header,
.navbar-nav>.messages-menu>.dropdown-menu>li.header,
.navbar-nav>.tasks-menu>.dropdown-menu>li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444 !important;
    text-align: center
}

@media (max-width:991px) {
    .navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,
    .navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,
    .navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
        background: #fff !important;
        color: #444 !important
    }
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a:hover,
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a:hover {
    text-decoration: none;
    font-weight: normal
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.list-group,
.navbar-nav>.messages-menu>.dropdown-menu>li.list-group,
.navbar-nav>.tasks-menu>.dropdown-menu>li.list-group {
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.list-group>a,
.navbar-nav>.messages-menu>.dropdown-menu>li.list-group>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li.list-group>a {
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.list-group>a:hover,
.navbar-nav>.messages-menu>.dropdown-menu>li.list-group>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li.list-group>a:hover {
    background: #f4f4f4;
    text-decoration: none
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.list-group>a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.list-group>a>.glyphicon,
.navbar-nav>.notifications-menu>.dropdown-menu>li.list-group>a>.fa,
.navbar-nav>.notifications-menu>.dropdown-menu>li.list-group>a>.ion {
    width: 20px
}

.list-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.list-group::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.list-group::-webkit-scrollbar-thumb {
    background-color: #38d5e6;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

.list-group_back::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.list-group_back::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.list-group_back::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

.sub-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.sub-badge-primary {
    background-color: #04a2b3;
}

.page-header-title small {
    color: #565656;
    vertical-align: text-bottom;
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}